.nav {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgb(26, 159, 192);
    color: #fff;
    position: absolute;
    top: 0px;
    gap: 2rem;
    padding: 0 1rem;
    padding-bottom: 10px;
  }

  .nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    }


    .site-title{
      font-size: 4rem;
    }

    .nav a{
      color: inherit;
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      padding: .25rem;
    }

    .nav li.active{
      background-color: rgb(43, 78, 155);
    }

    .nav li.hover{
      background-color: rgb(43, 78, 155);
    }